.index-all{
    text-align: center;
    margin-top: 150px;
}

.text-field{
    width: 550px;
    padding: 10px 40px;
    margin: 30px 0;
    box-sizing: border-box;
    font-size: 17px;
    border-radius: 20px;
    background-color: white;
    background-image: url('searchicon.png'); /* Downloaded from https://www.iconfinder.com/icons/309077/search_icon for free */
    background-position: 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.text-field:focus{
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.submit-btn{
    font-size: 17px;
    margin: 0px 8px;
    padding: 10px 10px;
    border-radius: 4px;
    border-style: none;
}

.text-field:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.submit-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.index-menu{
    text-align: right;
    margin: 10px 10px;
}

.index-menu-individu{
    text-align: right;
    text-decoration: none;
    color: #696969;
    margin: 0px 10px;
}

.index-menu-individu:hover{
    text-decoration: underline;
}

#googleimage-logo{
    width: 20%;
}

#bluesearchicon{
    width:1.2%;
    position: absolute;
    bottom: 40px;
    left: 1000px;
}

.image-all{
    position: relative;
    text-align: center;
    margin-top: 150px;
}

#advanced-logo{
    float:left;
    text-align: left;
    width: 90px;
}

.advsearch-header{
    margin: 40px 30px 0px 30px;
    font-size: 23px;
    color: #cc3700;
    border-bottom: 1px solid #E8E8E8;
    padding: 10px 10px 20px 10px;
}

.adv-text-field{
    width: 550px;
    padding: 5px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 13px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.adv-text-field:focus{
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.adv-all{
    text-align: left;
    margin: 30px 30px;
}

#find-pages-with{
    font-size: 18px;
}

#all-these{
    margin: 10px 80px;
}

#this-exact{
    margin: 10px 16px;
}

#any-of-these{
    margin: 10px 57px;
}

#none-of{
    margin: 10px 50px;
}